.app.dark {
  --bg-color: #0b0b5c;
  --inverted-bg-color: #e8e8ea;


  --primary-color: #049604;
  --secondary-color: #04ff04;

  --inverted-primary-color: #01268d;
  --inverted-secondary-color: #0449e0;
}